body {
        background-color:white ;
}

h1 {
    color: Black;
    font-size: 100px;
    font-weight: bold;
    font-family: Courier;
    background-color: green;
}

p2 {
    color: Black;
    font-size: 50px;
    font-family: Courier;
    background-color: ;
}

p1 {
    color: Black;
    font-size: 30px;
    font-family: Courier;
    background-color: ;
}
    

ul {
    color: white
    font-size: 80px;
    font-family: Courier;
}

h2 {
    font-family: Courier;
}

a {
    color: green;
    text-decoration: none;
    font-size: 30px;
}

a:hover {
    color: lime;
    font-size: 40px;
}