body {
    background-color: black;
    
}


.container {
    width: 1100px;
    height: 100px;
    font-size: 0px;
    background-color:white;
    top: 100px;
    left: 100px;
}

.container2 {
    width: 100px;
    height: 1100px;
    font-size: 0px;
    background-color:white;
    top: 100px;
    left: 100px;
}

.container3 {
    width: 1100px;
    height: 100px;
    font-size: 0px;
    background-color:white;
    top: 100px;
    left: 100px;
}
.container4 {
    width: 100px;
    height: 1300px;
    font-size: 0px;
    background-color:white;
    top: 7px;
    left: 1100px;
    position: absolute;
}

.circle3 {
    width:400px;
    height:220px;
    background-color: lightblue;
    border-color:black;
    border-style:double;
    position: absolute;
    top: 540px;
    left: 400px;
    border-radius: 100%;
}

.mycircle {
    width:220px;
    height:220px;
    background-color:white;
    border-color:black;
    border-style:double;
    position: absolute;
    top: 540px;
    left: 490px;
    border-radius: 100%;
}

.rec1 {
    width:130px;
    height:200px;
    background-color:black;
    position: absolute;
    border-color:lightgrey;
    border-style:double;
    border-width:10px;
    top: 105px;
    left: 550px;
    font-size: 90px;
    font-family: times;
    color: white;
    position: center;
}

.rec2 {
    width:200px;
    height:130px;
    background-color:black;
    position: absolute;
    border-color:lightgrey;
    border-style:double;
    border-width:10px;
    top: 600px;
    left: 880px;
    font-size: 110px;
    font-family: times;
    color: white;
    position: center;
}

.rec3 {
    width:130px;
    height:200px;
    background-color:black;
    position: absolute;
    border-color:lightgrey;
    border-style:double;
    border-width:10px;
    top: 985px;
    left: 550px;
    font-size: 110px;
    font-family: times;
    color: white;
    position: center;
}

.rec4 {
    width:200px;
    height:130px;
    background-color:black;
    position: absolute;
    border-color:lightgrey;
    border-style:double;
    border-width:10px;
    top: 600px;
    left: 108px;
    font-size: 110px;
    font-family: times;
    color: white;
    position: center;
}


.clock {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius:100%;
    background-color:black;
    border-color:black;
    border-style:double;
    animation-name: myclock;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    top: 600px;
    left: 550px;
}

.seconds {
    width: 100px;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 48px;
    
}

@keyframes myclock{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.scircle1 {
    width:20px;
    height:20px;
    background-color:cyan;
    border-color:black;
    border-style:double;
    position: absolute;
    top: 0px;
    left: 600px;
    border-radius: 100%;
}

.scircle2 {
    width:50px;
    height:50px;
    background-color:lightblue;
    border-color:black;
    border-style:double;
    position: absolute;
    top: 0px;
    left: 400px;
    border-radius: 100%;
}

.scircle3 {
    width:100px;
    height:100px;
    background-color:darkblue;
    border-color:black;
    border-style:double;
    position: absolute;
    top: 0px;
    left: 200px;
    border-radius: 100%;
}























































